language: php

sudo: false

git:
  depth: 1

matrix:
    include:
        - php: 5.6
        - php: 7.0
        - php: hhvm
        - php: nightly
    allow_failures:
        - php: nightly
    fast_finish: true

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - if [ "$TRAVIS_PHP_VERSION" != "5.6" ]; then  travis_retry bash -x ./run-tests.sh; fi
  - if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then  COVERAGE="--coverage-clover=coverage.xml" coverage travis_retry bash -x ./run-tests.sh; fi

after_success:
- if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then bash <(curl -s https://codecov.io/bash) -f coverage.xml -B $TRAVIS_BRANCH; fi
